TELOXIDE_TOKEN=your-telegram-bot-token-here
OPENAI_API_KEY=your-openai-api-key-here
GCS_BUCKET_NAME=your-bucket
STORAGE_CREDENTIALS=storage-credentials
SLED_URL=your_db
SECRET=secret
APP_URL=your-app-url-for-quark-webhook
APTOS_NETWORK=testnet
CONTRACT_ADDRESS=the-contract-address
TOKEN_PAYMENT_ADDRESS=token-payment-address
SERVER_DOMAIN=the-serve-domain
PANORA_URL=https://api.panora.exchange
PANORA_API_KEY=panora-api
BACKEND_URL=the-backend-url
TIME_API_BASE_URL=time-api-url
APTOS_NODE_URL=https://api.testnet.aptoslabs.com/v1
APTOS_INDEXER=https://api.testnet.aptoslabs.com/v1/graphql
GPG_PASSPHRASE=your_gpg_passphrase
PRIVATE_KEY=your_admin_private_key
GPG_PRIVATE_KEY=location_of_your_private_key
GPG_PUBLIC_KEY=location_of_your_public_key
GPG_REVIEWER=location_of_reviewer_private_key
VALKEY_PASSWORD=valkey_password
PROFILE="dev"
MIN_DEPOSIT=min_deposit_tokens_required_to_request_ai
SUMMARIZER_ENABLED=true
CONVERSATION_TOKEN_LIMIT=12000