Price(
    model: [
        (
            name: O3,
            price: 0.0136,
        ),
        (
            name: O4Mini,
            price: 0.00748,
        ),
        (
            name: GPT4o,
            price: 0.034,
        ),
        (
            name: GPT5,
            price: 0.00410,
        ),
        (
            name: GPT41,
            price: 0.0128,
        ),
        (
            name: GPT41Mini,
            price: 0.00272,
        ),
        (
            name: GPT5Mini,
            price: 0.00082,
        ),
        (
            name: GPT5Nano,
            price: 0.00016,
        ),
    ],
    tool: [
        (
            name: FileSearch,
            price: 0.0040,
        ),
        (
            name: ImageGeneration,
            price: 0.16,
        ),
        (
            name: WebSearchPreview,
            price: 0.0160,
        ),
    ],
)